@using DeployBoard.Models

@{
    ViewBag.Title = "Home Page";
}

<h2></h2>
<div id="sheet">
    <div class="wrapper">
        <aside id="sidebar">
        </aside>
        <div id="board">
            <table id="deploy-board" cellpadding="0" cellspacing="0">
                <thead>
                    <tr>
                    <th class="primary-table-heading" scope="colgroup"><span class="environments"></span></th>
                        <th class="primary-table-heading" scope="colgroup"><span class="environments">Next Deploy</span></th>
                        <th class="primary-table-heading" scope="colgroup"><span class="environments">Fantomen</span></th>
                        <th class="primary-table-heading" scope="colgroup"><span class="environments">WWW6</span></th>
                        <th class="primary-table-heading" scope="colgroup"><span class="environments">WWW7</span></th>
                        <th class="primary-table-heading" scope="colgroup"><span class="environments">WWW1/2</span></th>
                        <th class="primary-table-heading" scope="colgroup"><span class="environments">ROLLBACK</span></th>
                        <th class="primary-table-heading" scope="colgroup"><span class="environments">Beta</span></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var a in ApplicationModel.GetApplicationList())
                        {
                            
                    <tr id="cpx">
                        <td scope="row" class="row-heading">
                            <p class="pseudo">@a.Name</p>  
                        </td> 
                        <td class="insert-col">
                        <div class="number-insert">
                            Insert number here
                            <span class="count"></span>
                        </div>
                        <form class="add-nummer">
                            <textarea></textarea>
                            <input type="submit" class="add-build" value="Add"/>
                        </form>
             
                        </td>
                    </tr>
                    <tr id="cpx3">
                        <td scope="row" class="row-heading">
                            <p class="pseudo">@a.Name</p>
                        </td>
                        <td class="insert-col">
                        <div class="number-insert">
                            Insert number here
                            <span class="count"></span>
                        </div>
                        <form class="add-nummer">
                            <textarea></textarea>
                            <input type="submit" class="add-build" value="Add"/>
                        </form>
                        </td>
                    </tr>
                    <tr id="csa3">
                        <td scope="row" class="row-heading">
                            <p class="pseudo">@a.Name</p>
                        </td>
                        <td class="insert-col">
                        <div class="number-insert">
                            Insert number here
                            <span class="count"></span>
                        </div>
                        <form class="add-nummer">
                            <textarea></textarea>
                            <input type="submit" class="add-build" value="Add"/>
                        </form>
                        </td>
                    </tr>
                    <tr id="registration">
                        <td scope="row" class="row-heading">
                            <p class="pseudo">@a.Name</p>
                        </td>
                        <td class="insert-col">
                        <div class="number-insert">
                            Insert number here
                            <span class="count"></span>
                        </div>
                        <form class="add-nummer">
                            <textarea></textarea>
                            <input type="submit" class="add-build" value="Add"/>
                        </form>
                        </td>
                    </tr>
                    <tr id="Cat">
                        <td scope="row" class="row-heading">
                            <p class="pseudo">@a.Name</p>
                        </td>
                        <td class="insert-col">
                        <div class="number-insert">
                            Insert number here
                            <span class="count"></span>
                        </div>
                        <form class="add-nummer">
                            <textarea></textarea>
                            <input type="submit" class="add-build" value="Add"/>
                        </form>
                        </td>
                    </tr>
                    <tr id="snabbasvar">
                        <td scope="row" class="row-heading">
                            <p class="pseudo">@a.Name</p>
                        </td>
                        <td class="insert-col">
                        <div class="number-insert">
                            Insert number here
                            <span class="count"></span>
                        </div>
                        <form class="add-nummer">
                            <textarea></textarea>
                            <input type="submit" class="add-build" value="Add"/>
                        </form>
                        </td>
                    </tr>
                    <tr id="login">
                        <td scope="row" class="row-heading">
                            <p class="pseudo">@a.Name</p>
                        </td>
                        <td class="insert-col">
                        <div class="number-insert">
                            Insert number here
                            <span class="count"></span>
                        </div>
                        <form class="add-nummer">
                            <textarea></textarea>
                            <input type="submit" class="add-build" value="Add"/>
                        </form>
                        </td>
                    </tr>
                    <tr id="registration-admin">
                        <td scope="row" class="row-heading">
                            <p class="pseudo">@a.Name</p>
                        </td>
                        <td class="insert-col">
                        <div class="number-insert">
                            Insert number here
                            <span class="count"></span>
                        </div>
                        <form class="add-nummer">
                            <textarea></textarea>
                            <input type="submit" class="add-build" value="Add"/>
                        </form>
                        </td>
                    </tr>
                    <tr id="user-admin">
                        <td scope="row" class="row-heading">
                            <p class="pseudo">@a.Name</p>
                        </td>
                        <td class="insert-col">
                        <div class="number-insert">
                            Insert number here
                            <span class="count"></span>
                        </div>
                        <form class="add-nummer">
                            <textarea></textarea>
                            <input type="submit" class="add-build" value="Add"/>
                        </form>
                        </td>
                    </tr>
                    <tr id="panelist-registration-bork">
                        <td scope="row" class="row-heading">
                            <p class="pseudo">@a.Name</p>
                        </td>
                        <td class="insert-col">
                        <div class="number-insert">
                            Insert number here
                            <span class="count"></span>
                        </div>
                        <form class="add-nummer">
                            <textarea></textarea>
                            <input type="submit" class="add-build" value="Add"/>
                        </form>
                        </td>
                    </tr>
                    <tr id="st-webb">
                        <td scope="row" class="row-heading">
                            <p class="pseudo">@a.Name</p>
                        </td>
                        <td class="insert-col">
                        <div class="number-insert">
                            Insert number here
                            <span class="count"></span>
                        </div>
                        <form class="add-nummer">
                            <textarea></textarea>
                            <input type="submit" class="add-build" value="Add"/>
                        </form>
                        </td>
                    </tr>
                         }    
                     }
                </tbody>
            </table>
        </div>
  </div>
</div>